hr.solid {
    border-top: 2px solid #000000;
}

.c0 {
    margin: 0;
    padding: 0;
}

.bo{
    padding:0;
    margin:0;
}

.ba0{
    padding:0;
    margin:0;
}

.c1 {
    margin:0;
}

.badge-pill {
    margin-bottom: 0% ;
}

.h5.card-title2 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.card-deck {
    margin-top: 13px;
}

